{% extends 'base.html.twig' %}

{% block title %}Stores{% endblock %}

{% block body %}
  <div class="container">
  <h2>Stores</h2>                                                      
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Store</th>
        <th>Status</th>
        <th>Info</th>
        <th>Coupons</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for store in customer.stores %}
      <tr>
        <td>{{ store.name }}</td>
        <td>{{ store.status }}</td>
        <td><a href="{{ routes.store_info }}{{ store.id }}">Info</a></td>
        <td><a href="{{ routes.store_coupons }}{{ store.id }}">Coupons</a></td>
        <td><a href="{{ routes.store_delete }}{{ store.id }}">Delete</a></td>
      </tr>
      {% endfor %}
      <tr>
        <td><a href="{{ routes.store_add }}">Add new store</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
