{% extends 'base.html.twig' %}

{% block title %}Store {{ store.name }} {% endblock %}

{% block body %}
    <div class="container">
      <div id="store-form">
        <header align="center">
          <h3>Store {{ store.name }} info</h3>
        </header>
        <form class="form-horizontal" id="mainForm" method="post" name="store_form" enctype="multipart/form-data">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" name="store[name]" value="{{ store.name }}" readonly>
              <input type="hidden" class="form-control" id="inputId" name="store[id]" value="{{ store.id }}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputUrl" class="col-sm-2 control-label">Url</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputUrl" name="store[url]" value="{{ store.url }}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="imageLogo" class="col-sm-2 control-label">Logo</label>
            <div class="col-sm-10" id="currentLogo">
              {% if store.primaryLogo.exists %}
                <img src="{{ url }}?id={{ store.primaryLogo.id }}">
                <button type="button" onclick="removeLogo();">Remove</button>
              {% else %}
                Store has no logo
              {% endif %}
            </div>
          </div> 
          <div class="form-group {{ new_logo.hasError() ? 'has-error' : '' }}">
            <label for="inputLogo" class="col-sm-2 control-label">New logo</label>            
            <div class="col-sm-10">
              <input type="file" class="form-control" id="inputLogo" placeholder="Choose new logo if you need" name="new_logo"
              {% if store.primaryLogo.acceptFilter is not empty %} 
              accept="{{ store.primaryLogo.acceptFilter }}"
              {% endif %}
              >
              {% if new_logo.hasError() %}
                <span id="helpBlock" class="help-block">{{ new_logo.errorString }}</span>
              {% endif %}
              <button type="button" onclick="clearLogo();">Clear</button>
            </div>
          </div> 
          <div class="form-group">
            <label for="inputKeywords" class="col-sm-2 control-label">Store keywords</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="textareaKeywords" placeholder="Type keywords for your store" name="store[keywords]" rows="5">{{ store.keywords }}</textarea>
            </div>
          </div> 
          <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">Store description</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="textareaDescription" placeholder="Type description for your store" name="store[description]" rows="5">{{ store.description }}</textarea>
            </div>
          </div> 
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" name="store[buttonSave]">Save</button>
              <button type="reset" class="btn btn-default" name="store[buttonReset]">Reset</button>
              <button type="submit" class="btn btn-default" name="store[buttonCancel]">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    window.removeLogo = function () {
      $("#currentLogo").replaceWith('<div class="col-sm-10" id="currentLogo">Store has no logo <input type="hidden" class="form-control" id="removeLogo" name="store[removePrimaryLogo]"></div>');
    };

    window.clearLogo = function() {
      $("#inputLogo").val("");
    };

    $("#mainForm").on('reset', function() {
      setTimeout(function() { $("#currentLogo").replaceWith('<div class="col-sm-10" id="currentLogo"><img src="{{ url }}?id={{ store.primaryLogo.id }}"><button id="removeButton" onclick="removeLogo();">Remove</button></div>') });
    });
  </script>
  {% if message == 'saved' %}
  <script> alert('Store {{ store.name }} updated successfully')</script>
  {% endif %}
{% endblock %}
