{% extends 'base.html.twig' %}

{% block title %}Store {{ store.name }} - Coupons{% endblock %}

{% block body %}
    <div class="container">
      <div id="coupons-form">
        <header align="center">
          <h3>Store {{ store.name }} coupons</h3>
        </header>
         <form class="form-horizontal" id="mainForm" method="post" name="coupons_form" enctype="multipart/form-data">
          <div id="coupons-table">
            <table class="table-responsive" id="couponsTable">
              <thead>
                <tr style="border-bottom: 3px solid #ddd">
                  <th style="width: 2%"></th>
                  <th colspan="4" style="width: 50%">Description</th>
                  <th style="width: 10%">Code</th>
                  <th style="width: 20%">Url</th>
                  <th style="width: 9%">Date</th>
                  <th style="width: 9%">Actions</th>              
                </tr>
              </thead>
              {% if store.coupons is empty %}
              <tr>
                <td colspan="9" style="text-align: center">No coupons for this store</td>
              </tr>
              {% endif %}
              {% for coupon in store.coupons %}
                <tr style="vertical-align:top; border-bottom: 1px solid #ddd {{ coupon.activity == 0 ? '; background-color: #ddd ' : ''}}" id="tr{{ coupon.id }}_1">
                  <td rowspan="2">{{ coupon.position }}</td>
                  <td colspan="4">
                    <input type="hidden" id="inputPosition{{ coupon.id }}" class="inputPosition" name="coupons[{{ coupon.id }}][position]" title="{{ coupon.id }}" value="{{ coupon.position }}">
                    <input type="hidden" id="inputActivity{{ coupon.id }}" class="form-control" name="coupons[{{ coupon.id }}][activity]" value="{{ coupon.activity }}">
                    <div{{ coupon.hasError('label') ? ' class="has-error"' : '' }}>
                      <textarea class="form-control" name="coupons[{{ coupon.id }}][label]" rows="3">{{ coupon.label }}</textarea>
                      {% if coupon.hasError('label') %}
                        <span id="helpBlock" class="help-block">{{ coupon.errorString('label') }}</span>
                      {% endif %}
                      <input type="hidden" class="form-control" name="coupons[{{ coupon.id }}][parent_id]" value="{{ coupon.parentId }}">
                    </div>
                  </td>
                  <td>
                    <div{{ coupon.hasError('code') ? ' class="has-error"' : '' }}>
                      <input class="form-control" type="text" name="coupons[{{ coupon.id }}][code]" value="{{ coupon.code }}">
                      {% if  coupon.hasError('code') %}
                        <span id="helpBlock" class="help-block">{{ coupon.errorString('code') }}</span>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div{{ coupon.hasError('link') ? ' class="has-error"' : '' }}>
                      <input class="form-control" type="text" name="coupons[{{ coupon.id }}][link]" value="{{ coupon.link }}">
                      {% if coupon.hasError('link') %}
                        <span id="helpBlock" class="help-block">{{ coupon.errorString('link') }}</span>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    Starts:
                    <div{{ coupon.hasError('startDate') ? ' class="has-error"' : '' }}>
                      <input class="form-control" type="text" name="coupons[{{ coupon.id }}][startDate]" value="{{ coupon.startDate}}">
                      {% if coupon.hasError('startDate') %}
                        <span id="helpBlock" class="help-block">{{ coupon.errorString('startDate') }}</span>
                      {% endif %}
                    </div>
                    Expires:
                    <div{{ coupon.hasError('expireDate') ? ' class="has-error"' : '' }}>
                      <input class="form-control" type="text" name="coupons[{{ coupon.id }}][expireDate]" value="{{ coupon.expireDate }}">
                      {% if coupon.hasError('expireDate') %}
                        <span id="helpBlock" class="help-block">{{ coupon.errorString('expireDate') }}</span>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                      <a href="javascript:makeFirst('{{ coupon.id }}')" style="font-size: 10pt">First</a></br>
                      <a href="javascript:makeLast('{{ coupon.id }}')" style="font-size: 10pt">Last</a></br>
                      <a href="javascript:moveUp('{{ coupon.id }}')" style="font-size: 10pt">Up</a></br>
                      <a href="javascript:moveDown('{{ coupon.id }}')" style="font-size: 10pt">Down</a></br>
                      <a href="javascript:changeActivity('{{ coupon.id }}');" style="font-size: 10pt" id="activationLink{{ coupon.id }}">{{ coupon.activity == 0 ? 'Activate' : 'Deactivate'}}</a><br>
                      <a href="javascript:removeCoupon('{{ coupon.id }}');" style="font-size: 10pt">Remove</a>
                  </td>
                </tr>
                <tr style="vertical-align:top; border-bottom: 3px solid #ddd {{ (coupon.activity == 0) ? '; background-color: #ddd ' : ''}}"  id="tr{{ coupon.id }}_2">
                  <td>
                    <div id="Image{{ coupon.id }}">  
                      {% if coupon.image.exists %}        
                        <img height="50px" src="{{ url }}?id={{ coupon.image.id }}" onclick="openImageWindow(this.src);">
                        <button type="button" onclick="removeImage('{{ coupon.id }}', '{{ coupon.image.id }}', '{{ url }}');">Remove</button>
                      {% else %}
                        <img height="50px" src="{{ url }}?id=1">
                      {% endif %}
                    </div>
                  </td>
                  <td colspan="3">
                    <div{{ coupon.newImage.hasError() ? ' class="has-error"' : '' }}>
                      <input type="file" class="form-control" id="inputImage{{ coupon.id }}" placeholder="Choose image for coupon if needed" name="newImage{{ coupon.id }}"
                      {% if coupon.image.acceptFilter is not empty %} 
                        accept="{{ store.primaryLogo.acceptFilter }}"
                      {% endif %}
                      >
                      {% if coupon.newImage.hasError() %}
                        <span id="helpBlock" class="help-block">{{ coupon.newImage.errorString }}</span>
                      {% endif %}
                      <button type="button" onclick="clearImage('{{ coupon.id }}');">Clear</button>
                    </div>
                  </td>
                  <td colspan="5"></td>
                </tr>
              {% endfor %}
            </table>
            <a href="#">Add new coupon</a>
            <div>
              <input type="hidden" class="form-control" name="store_id" value="{{ store.id }}">
              <input type="hidden" class="form-control" name="rCoupons"  id ="rCoupons" value="">
              <button type="submit" class="btn btn-default" name="buttons[buttonSave]">Save</button>
              <button type="submin" class="btn btn-default" name="buttons[buttonReset]" onclick="pageReset();">Reset</button>
              <button type="submit" class="btn btn-default" name="buttons[buttonCancel]">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ coupons_js }}"></script>
  {% if message == 'saved' %}
  <script type="text/javascript">
    alert('Store {{ store.name }} coupons updated successfully')
  </script>
  {% endif %}
{% endblock %}
